---
eleventyNavigation:
  key: Home
  order: 0
heading: Photo Gallery
description: A collection of recent images. Below is a compilation of car photography and images i have taken recently. 
layout: main.njk
title: Ben Garrett Photography
meta_desc: A collection of recent images. Below is a compilation of car photography and images i have taken recently. 
url: https://eleventy-gallery.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "home-gallery.njk" %}